<h1 class="{{#tableBooked tableNumber}}
{{/tableBooked}}">2. Pick a table</h1>

	<div class="map">
		<div id="table" class="table table-1">1
		</div>
		<div id="table" class="table table-2">2
		</div>
		<div id="table" class="table table-3">3
		</div>
		<div id="table" class="table table-4">4
		</div>
	</div>

