<h1 class="{{#tableBooked tableNumber}}
{{/tableBooked}}">2. Pick a table</h1>

	<div class="map">
		<div id="table" class="table table-1">1
		</div>
		<div id="table" class="table table-2">2
		</div>
		<div id="table" class="table table-3">3
		</div>
		<div id="table" class="table table-4">4
		</div>
		<div id="table" class="table table-5">5
		</div>
		<div id="table" class="table table-6">6
		</div>
		<div id="table" class="table table-7">7
		</div>
		<div id="table" class="table table-8">8
		</div>
		<div id="table" class="table table-9">9
		</div>
		<div id="table" class="table table-10">10
		</div>
		<div id="table" class="table table-11">11
		</div>
	</div>

