<div id="booking-datetitle"></div>
<div id="booking-datepicker"></div>
<h1>Pick a seat </h1>
	<div class="map">
		<div id="table" class="table table-1">1
		</div>
		<div id="table" class="table table-2">1
		</div>
		<div id="table" class="table table-3">1
		</div>
		<div id="table" class="table table-4">1
		</div>
	</div>
<div id="booking-confirm"></div>