{{#if tableNumber}}
	<h1 class="success">3.Confirm</h1>
{{else}}
	<h1>3.Confirm</h1>
{{/if}}
<p>Summary of your reservation</p>

	<ul>
		{{#if bookingDate}}
			<li>{{bookingDate}}</li>
		{{/if}}
			<li>{{tableNumber}}</li>
	</ul>

