<div class="media">

    <img class="pull-left media-object" src="http://lorempixel.com/400/400/food">

  <div class="media-body text-center">
    <h1 class="media-heading">{{title}}</h1>
   	<p>SWAOOP</p>
  </div>
</div>

