<br>
<div class="media">

    <img class="pull-left media-object img-rounded" src="images/thumb/{{id}}.jpg">

  <div class="media-body text-center">
    <h1 class="media-heading">{{title}}</h1>
   	<p>{{description}}</p><p><i>{{price}} €</i></p>
  </div>
</div>


