<img id="logo"  src="images/logo2.svg"></img>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">La Table de Paris</h1>
			<br>
			<p>
			A restaurant doesn’t become a legend by accident, and it certainly can’t stay that way by resting on its laurels.
			</p>
			<p>
			"La Table de Paris" is over 24 years old and still in the very prime of life. The restaurant is dear to native Parisians, which might help explain why it is just as beloved by tourists from the world over.
			</p>
			<p>
			In 1990, La table de Paris was born out of a very simple concept – provide a decent meal at a reasonable price and give customers good service in order to earn their loyalty. 1 million meals, the recipe is still every bit as much a success.
			</p>
			<p>
			This place has known and been touched by all those, the many famous and anonymous faces, who have dined there, on romantic dates, as a family or with friends. It has developed more than a personality; they have given it a soul.
			</p>
			<br>
		</div>
	</div>
</div>

<div class="container-fluid footer text-center">
	    <div class="row">
	    	<div class="col-xs-4">
				<p> La Table de Paris </p>
				<p><i>Parisian Food </i></p>
	    	</div>
	    	<div class="col-xs-4">
	    		<p>1 Place de Catalogne | 75014 Paris</p>
	    		<p>Open <b>7</b> days a week</p>
	    		<p>01 41 42 43 44</p>
	    		<p>restaurant@latabledeparis.com</p>
	    	</div>
	    	<div class="col-xs-4">
	    		<p> Métro : Gaité - Montparnasse L13,L4</p>
	    		<p> Bus: 28
	    	</div>
	    </div>
	    <hr class="footerseparator">
	    <div class="row">
	    	<div class="col-xs-12">
	    		<span class="fa-stack fa-lg">
	    		  <i class="fa fa-circle fa-stack-2x"></i>
	    		  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	    		</span>
	    		<span class="fa-stack fa-lg">
	    		  <i class="fa fa-circle fa-stack-2x"></i>
	    		  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	    		</span>
	    		<span class="fa-stack fa-lg">
	    		  <i class="fa fa-circle fa-stack-2x"></i>
	    		  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	    		</span>
	    	</div>
	    </div>
	</div>
</div>
