<h1>Menu</h1>
<h2 class="text-center">Starters</h2>
<br>

<div class="row text-center" id="starters">
</div>

<h2 class="text-center">Main dish</h2>

<div class="row text-center" id="maindish">
</div>

<h2 class="text-center">Desert</h2>

<div class="row text-center" id="desert">
</div>

