<h1>Menu</h1>
<h2 class="text-center">Starters</h2>
<hr class="menuseparator">

<div class="row text-center" id="starters">
</div>

<h2 class="text-center">Main Course</h2>
<hr class="menuseparator">

<div class="row text-center" id="maindish">
</div>

<h2 class="text-center">Dessert</h2>
<hr class="menuseparator">

<div class="row text-center" id="desert">
</div>

