@import url(http://fonts.googleapis.com/css?family=Montserrat);

html {
	height: 100%;
}

body {
    background: #67C2D4;
    color : #FAF1E0;
    font-family: "Montserrat";
    height: 100%;
}

.page {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  transition: -webkit-transform 0.5s ease;
  -webkit-transform: translate3d(100%, 0, 0);
}

.page.is-visible {
  -webkit-transform : translate3d(0, 0, 0);
}

#appview
{
	height: 100%;
}

/*
* Navbar
*/

.navbar{
	min-height: 80px;
	background-color: #FAF1E0;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-nav {
	margin-top: 15px;
}

/*
* Landing Page
*/

.cover-container{
	min-height: 70%;
	height: 80%;
	background-image : url('/images/bg10.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

#logo
{
	width : 500px;
	height: 500px;
	margin : 0 auto;
	color : white;
	display: block;

}
/*
* Booking page
*/ 
.panel
{
	color : #333;
	background-color : #FAF1E0 ;
}

.btn-primary
{
	background: #67C2D4;
}
.map{
	width : 100%;
	min-height : 300px;
	height : 100%;
	background-color : #FAF1E0;
	position: relative;
}

.table {
	transition : all 0.5s ;
	width : 50px;
	height : 50px;
	background-color: #E75854;
	position : absolute;
	top : 10%;
	left: 10%;
	text-align: center;
	vertical-align: center;
}

.table:hover{
	background-color: #67C2D4;
}

.table-1 {
	top : 20%;
	left : 10%;
}
.table-2 {
	top : 20%;
	left : 30%;
}
.table-3 {
	top : 20%;
	left : 50%;
}
.table-4 {
	top : 20%;
	left : 70%;
}
.table-5 {
	top : 50%;
	left : 10%;
}
.table-6 {
	top : 50%;
	left : 30%;
}
.table-7 {
	top : 50%;
	left : 50%;
}
.table-8 {
	top : 50%;
	left : 70%;
}
.table-9 {
	top : 80%;
	left : 20%;
}
.table-10 {
	top : 80%;
	left : 40%;
}
.table-11 {
	top : 80%;
	left : 60%;
}

#datepicker
{
	background-color : #FAF1E0;
	color : #E75854;

}

/*
* Menu 
*/

hr.menuseparator {
    width: 30%;
    margin-top : 50px;
    margin-bottom: 70px;
    padding: 0;
    border: none;
    border-top: medium double #FAF1E0;
    color: #FAF1E0 ;
    text-align: center;
}
hr.menuseparator:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #67C2D4 ;
}

/*
* Footer
*/

.footer{
	background-color: #FAF1E0;
	color : #333333;
	font-size: 0.9em;
	padding : 50px;
}

hr.footerseparator {
    margin-top : 50px;
    margin-bottom: 35px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.footerseparator:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #FAF1E0;
}

/*
* Misc
*/


.reserved {
	background-color: #67C2D4;
}

.success{
	color : #E75854;
}

.img-centered{
	margin : 0 auto;
}